{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <h1 id="company-name">CONTHERMO</h1>
                <p>Armários de aquecimento e fornos tipo túnel utilizados para aquecimento, secagem, têmpera/envelhecimento, bem como liquefação de tambores e conteúdo do recipiente, etc.
                    <br>
                    Website: www.conthermo.de</p>
                    <div class="company-logo-container">
                        <img src="{% static 'app/LOGOs_200px_CONTHERMO.jpg' %}" alt="">
                    </div>
            </div>
        </div>
    </section>

{% endblock %}
