{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <h1 id="company-name">FUNDIÇÃO MORANDINI</h1>
                <p>Empresa italiana dedicada à fabricação de peças forjadas de grande porte de até 200 toneladas e 8 metros de diâmetro em aço carbono, aços inoxidáveis e ligas especiais de níquel.
                    <br>
                    Website: www.morandini.it</p>
                <div class="company-logo-container">
                    <img src="{% static 'app/LOGOs_200px_FUNDIcaoMORANDINI.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
