{% extends 'app/layout.html' %}
{% load static %}

{% block main %}

    <section>
        <div class="agierre-content company-content">
            <div class="company-page-div">
                <h1 id="company-name">VANA ANLAGENBAU GmbH & Co KG</h1>
                <p>Sonnek é fabricante de equipamentos de usados em produtos alimentares e bebidas, tais como bombas, filtros e dosadoras. Dentro do grupo Sonnek, a empresa VANA tem como foco principal os equipamentos para a indústria alimentícia.

                    A VANA fornece sistemas de liquefação industriais em grande escala e sob medida com aplicacções por exemplo na produção de manteiga, margarina e cacau, através de soluções completas em uma única fonte:
                    
                    → Planejamento e design;
                    
                    → Tanques e agitadores;
                    
                    → Construção de dutos;
                    
                    → Sistemas de aquecimento;
                    
                    → Conhecimento em aquecimento/controle de temperatura de camisas de água;
                    
                    → Instalação e comissionamento.
                    
                    Home para o logo SONNEK- VANA
                    
                    Food solutions para o logo VANA.
                    <br>
                    Website: https:///sonnek.com/en</p>
                    <div class="company-logo-container">
                        <img src="{% static 'app/LOGOs_200px_VANASONNEck.jpg' %}" alt="">
                    </div>
            </div>
        </div>
    </section>

{% endblock %}
