{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"/> 
        <link rel="stylesheet" href="{% static 'app/styles.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{% static 'app/main.js' %}"></script>

        <title>{% block title %}Pgutt{% endblock %}</title>
    </head>
    <body>


        <header class="header">
            <nav class="navbar">

                <div class="nav-container container">
                    <div class="logo-container">
                        <a href="{% url 'index' %}"><img id="logo" src="{% static 'app/logos/LOGO.png' %}"></a>
                    </div>

                    <div class="menu-icons">
                        <i class="fa-solid fa-bars" id="bar-open"></i>
                    </div>

                    <ul class="nav-items">
                        <li class="dropdown">
                            <a id="menu-link">Institucional</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'index' %}#sobreapgutt">Sobre a P. Gutt</a></li>
                                <li><a href="{% url 'index' %}#h1-1">Diretrizes</a></li>                            
                                <li><a href="{% url 'index' %}#equipe">Equipe</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="menu-link" href="">Setores e Empresas</a>
                            <ul class="dropdown-menu larger-dropdown">
                                <li class="dropright">
                                    <a href="">Aços Especiais e Inoxidáveis</a>
                                    <ul class="dropright-menu right-menu">
                                        <li><a href="{% url 'breitenfeldsteel' %}">BREITENFELD STEEL</a></li>
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Equipamentos de Alta Pressão</a>
                                    <ul class="dropright-menu" style="width: 150px;">
                                        <li><a href="{% url 'bft' %}">BFT</a></li>
                                        <li><a href="{% url 'bhdt' %}">BHDT</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Equipamentos para Indústria de Papel e Celulose</a>
                                    <ul class="dropright-menu" style="width: 200px;">
                                        <li><a href="{% url 'raumaster' %}">RAUMASTER OY</a></li>
                                        <li><a href="{% url 'raumaster' %}">RAUMASTER PAPER</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Equipamentos para Indústria Farmacêutica e Alimentos</a>
                                    <ul class="dropright-menu right-menu">
                                        <li><a href="{% url 'agierre' %}">AGIERRE</a></li>
                                        <li><a href="{% url 'schlick' %}">SCHLICK</a></li>
                                        <li><a href="{% url 'vana' %}">VANA ANLAGENBAU GmbH & Co KG</a></li>

                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Fornos</a>
                                    <ul class="dropright-menu" style="width: 200px;">
                                        <li><a href="{% url 'conthermo' %}">ConThermo</a></li>
                                        <li><a href="{% url 'raumaster' %}">RAUMASTER PAPER</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Metalurgia</a>
                                    <ul class="dropright-menu right-menu">
                                        <li><a href="{% url 'breitenfeldsteel' %}">BREITENFELD STEEL</a></li>
                                        <li><a href="{% url 'fundicaomorandini' %}">FUNDIÇÃO MORANDINI</a></li>
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                        <li><a href="{% url 'maronsteel' %}">MARON STEEL"</a></li>
                                        <li><a href="{% url 'schlick' %}">SCHLICK"</a></li>
                                        <li><a href="{% url 'schmidtclemens' %}">SCHMIDT + CLEMENS</a></li>
                                        <li><a href="{% url 'siepmannwerke' %}">SIEPMANN WERKE"</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                <a href="">Petróleo e Gás</a>
                                <ul class="dropright-menu right-menu" style="width: 200px;">
                                    <li><a href="{% url 'christofgroup' %}">CHRISTOF GROUP</a></li>
                                </ul>
                                <li class="dropright">
                                    <a href="">Portas e Painéis para Salas Limpas</a>
                                    <ul class="dropright-menu" style="width: 100px;">
                                        <li><a href="{% url 'gmp' %}">GMP</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Produtos Químicos</a>
                                    <ul class="dropright-menu right-menu" style="width: 200px;">
                                        <li><a href="{% url 'ballestra' %}">BALLESTRA</a></li>
                                        <li><a href="{% url 'gigkarasek' %}">GIG KARASEK</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Tecnologias Ambientais</a>
                                    <ul class="dropright-menu right-menu" style="width: 200px;">
                                        <li><a href="{% url 'gigkarasek' %}">GIG KARASEK</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="">Tubos e Conexões</a>
                                    <ul class="dropright-menu right-menu">
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                        <li><a href="{% url 'maronsteel' %}">MARON STEEL</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="{% url 'empresas' %}">Todas as Empresas Representadas</a>
                                    <ul class="dropright-menu right-menu" style="display: none;">
                                        <li><a href="{% url 'agierre' %}">AGIERRE</a></li>
                                        <li><a href="{% url 'ballestra' %}">BALLESTRA</a></li>
                                        <li><a href="{% url 'bft' %}">BFT</a></li>
                                        <li><a href="{% url 'bhdt' %}">BHDT</a></li>
                                        <li><a href="{% url 'breitenfeldsteel' %}">BREITENFELD STEEL</a></li>
                                        <li><a href="{% url 'christofgroup' %}">CHRISTOF GROUP</a></li>
                                        <li><a href="{% url 'conthermo' %}">CON THERMO</a></li>
                                        <li><a href="{% url 'fundicaomorandini' %}">FUNDIÇÃO MORANDINI</a></li>
                                        <li><a href="{% url 'gigkarasek' %}">GIG KARASEK</a></li>
                                        <li><a href="{% url 'gmp' %}">GMP</a></li>
                                        <li><a href="{% url 'lordsteel' %}">LORD STEEL INTERNATIONAL Co.Ltd.</a></li>
                                        <li><a href="{% url 'maronsteel' %}">MARON STEEL</a></li>
                                        <li><a href="{% url 'raumaster' %}">RAUMASTER OY</a></li>
                                        <li><a href="{% url 'raumaster' %}">RAUMASTER PAPER</a></li>
                                        <li><a href="{% url 'schlick' %}">SCHLICK</a></li>
                                        <li><a href="{% url 'schmidtclemens' %}">SCHMIDT + CLEMENS</a></li>
                                        <li><a href="{% url 'siepmannwerke' %}">SIEPMANN WERKE</a></li>
                                        <li><a href="{% url 'termomeccanica' %}">TERMOMECCÂNICA S.p.A.</a></li>
                                        <li><a href="{% url 'vana' %}">VANA ANLAGENBAU GmbH & Co KG</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a id="menu-link" href="{% url 'catalogos' %}">Catálogos</a></li>
                        <li><a id="menu-link" href="#footer">Contato</a></li>

                        <div class="languageswitcher-container">
                            <li class="dropdown-language">
                                <a href="" class="flag-link"><img class="flag-icon" id="brasilflag" src="{% static 'app/brasilflag.png' %}"></a>
                            </li>
                        </div>
                    </ul>

                    <ul class="responsive-nav-items">
                        <div class="menu-icons">
                            <i class="fa-solid fa-xmark" id="x-closed"></i>
                        </div>

                        <li><a href="">Institucional</a></li>
                        <li><a href="">Setores e Empresas</a></li>
                        <li><a href="">Catálogos</a></li>
                        <li><a href="">Contato</a></li>
                    </ul>

                </div>
            </nav>
        </header>


        <main>
            {% block main %}{% endblock %}
        </main>


        <footer>
            <div class="footer-container" id="footer">
                <div class="contato-text-container">
                    <h1 id="h1-1">Contato</h1>
                </div>
                
                <div class="info-container">
                    <p>
                        <b style="color: white; font-size: 20px;">                    
                        P. Gutt Representações Ltda.</b>
                        <br>
                       Endereço: Avenida Delfim Moreira, 1160, Sobrado - Várzea
                        <br>
                        CEP 25953-236 TERESÓPOLIS/RJ - BRASIL
                        <br>
                        Telefone: +55 (21) 2643-1727
                        <br>
                        <a href="mailto:pgutt@pgutt.com.br">Email: pgutt@pgutt.com.br</a>
                        
                    </p>
                </br>
                </div>

                <div class="footer-icons">
                    <img src="{% static 'app/ICON_Address.png' %}" alt="">
                    <img src="{% static 'app/ICON_Phone.png' %}" alt="">
                    <img src="{% static 'app/ICON_Email.png' %}" alt="">
                    <img src="{% static 'app/Icon-LinkedinB.png' %}" alt="">
                </div>
                
                <div class="copyright-text-container">
                    <h2 id="copyright-text"> Copyright © 2024 - P. Gutt Representações Ltda. Todos os direitos reservados.</h2>
                </div>
            </div>
        </footer>


    </body>
</html>